<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome to Webgranth</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/common.css" media="screen" />
    <script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="js/slides.min.jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('.slides').slides({
                preload: true,
                generatePagination: true,
                play: 3000
            });
        });
    </script>
</head>
<body>
    <!--Wrapper-->
    <div id="wrapper">
        <!--Page-->
        <div class="page shadow">
            <!--Header-->
            <div id="header">
                <div class="primary-section">
                    <div class="logo"> <a href="http://www.webgranth.com"><img src="images/logo.png" alt="logo" title="webgranth" /></a></div>
                    <div class="header-aside">
                        <span>+90 120 4735100</span>
                    </div>
                </div>
                <div class="nav-section">
                    <ul class="navigation">
                        <li><a href="#">Anasayfa </a></li>
                        <li><a href="#">Ürünler </a></li>
                    </ul>
                    <ul class="search-box">
                        <li>
                            <input type="text" value="Ara..." id="user_search" autocomplete="off" onkeypress="submitenter_search(event);" onblur="if (this.value=='')this.value='search';" onfocus="if (this.value=='search')this.value=''" />
                        </li>
                        <li class="sms-last">
                            <input type="submit" value="" class="submit" />
                            <a href="#"> search</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Header-->
            <!--Content-->
            <div id="content">
                <div class="sidebar">
                    <div class="latest-product ">
                        <h2>Kategoriler</h2>
                        <ul class="info">
                            <li><a href="#">Cep Telefonları</a></li>
                            <li><a href="#">Dizüstü Bilgisayarlar</a></li>
                            <li><a href="#">Masaüstü Bilgisayarlar</a></li>
                            <li><a href="#">Kameralar</a></li>
                            <li><a href="#">Fotoğraf Makineleri</a></li>
                            <li><a href="#">Yazıcılar</a></li>
                        </ul>
                    </div>

                </div>
                <div class="content-right">
                    <div class="banner">
                        <div class="slides">
                            <div class="slides_container">
                                <div class="imgeslider">
                                    <img src="images/lapy.jpg" alt="lapy" title="product" />
                                    <div class="banner-text">
                                        <h1>Lorem Ipsum</h1>
                                        <span>Lorem Ipsum is simply</span>
                                        <p>Lorem Ipsum is simply dummy text of the printing</p>
                                        <a href="#"> Click Here <span></span></a>
                                    </div>
                                </div>
                                <div class="imgeslider">
                                    <img src="images/lapy.jpg" alt="lapy" title="product" />
                                    <div class="banner-text">
                                        <h1>Lorem Ipsum</h1>
                                        <span>Lorem Ipsum is simply</span>
                                        <p>Lorem Ipsum is simply dummy text of the printing</p>
                                        <a href="#"> Click Here <span></span></a>
                                    </div>
                                </div>
                                <div class="imgeslider">
                                    <img src="images/lapy.jpg" alt="lapy" title="product" />
                                    <div class="banner-text">
                                        <h1>Lorem Ipsum</h1>
                                        <span>Lorem Ipsum is simply</span>
                                        <p>Lorem Ipsum is simply dummy text of the printing</p>
                                        <a href="#"> Click Here <span></span></a>
                                    </div>
                                </div>
                                <div class="imgeslider">
                                    <img src="images/lapy.jpg" alt="lapy" title="product" />
                                    <div class="banner-text">
                                        <h1>Lorem Ipsum</h1>
                                        <span>Lorem Ipsum is simply</span>
                                        <p>Lorem Ipsum is simply dummy text of the printing</p>
                                        <a href="#"> Click Here <span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content-->
            <!--Content-->
            <div id="content">
                <div class="content-row">
                    <div class="product-info">
                        <img src="images/lapy-t.jpg" alt="lapy" title="product" class="lapy" />
                        <h2>lAPTOP DV3</h2>
                        <div class="add"><span>$2.156.00</span><a href="#">HP</a></div>
                        <div class="add-to-list">
                            <ul>
                                <li><a href="#">Dizüstü Bilgisayarlar</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-info">
                        <img src="images/g-camera.jpg" alt="g-camera" title="product" class="lapy" />
                        <h2>Galaxy Camera</h2>
                        <div class="add"><span>$2.156.00</span><a href="#">Galaxy</a></div>
                        <div class="add-to-list ">
                            <ul>
                                <li><a href="#">Kameralar</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-info">
                        <img src="images/dbl-phone.jpg" alt="dbl-ipad" title="product" class="d-phone" />
                        <div class="rotatebg">&nbsp;</div>
                        <div class="newrotate"></div>
                        <h2>Htc Evo 3G</h2>
                        <div class="add"><span>$2.156.00</span><a href="#">HTC</a></div>
                        <div class="add-to-list ">
                            <ul>
                                <li><a href="#">Cep Telefonları</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-info">
                        <img src="images/dbl-phone.jpg" alt="dbl-ipad" title="product" class="d-phone" />
                        <div class="rotatebg">&nbsp;</div>
                        <div class="newrotate"></div>
                        <h2>Htc Evo 4G</h2>
                        <div class="add"><span>$2.156.00</span><a href="#">Add To Cart</a></div>
                        <div class="add-to-list ">
                            <ul>
                                <li><a href="#">Cep Telefonları</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cl"></div>
                    <div class="product-info">
                        <img src="images/ipod-tuch.jpg" alt="ipod-tuch" title="product" />
                        <h2>Ipod Touch 3G</h2>
                        <div class="add"><span>$2.156.00</span><a href="#">Apple</a></div>
                        <div class="add-to-list ">
                            <ul>
                                <li><a href="#">Cep Telefonları</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-info">
                        <img src="images/iphone-g.jpg" alt="iphone-g" title="product" />
                        <div class="rotatebg">&nbsp;</div>
                        <div class="newrotate"></div>
                        <h2>IPhone 4G</h2>
                        <div class="add"><span>$2.156.00</span><a href="#">Apple</a></div>
                        <div class="add-to-list ">
                            <ul>
                                <li><a href="#">Cep Telefonları</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-info">
                        <img src="images/ipod-tuch.jpg" alt="ipod-tuch" title="product" />
                        <h2>IPhone 5G</h2>
                        <div class="add"><span>$2.156.00</span><a href="#">Apple</a></div>
                        <div class="add-to-list ">
                            <ul>
                                <li><a href="#">Cep Telefonları</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-info">
                        <img src="images/lapy-t.jpg" alt="lapy" title="product" class="lapy" />
                        <h2>lAPTOP DV3</h2>
                        <div class="add"><span>$2.156.00</span><a href="#">ASUS</a></div>
                        <div class="add-to-list">
                            <ul>
                                <li><a href="#">Dizüstü Bilgisayarlar</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content-->
            <!--Footer-->
            <div id="footer">
                <div class="page">
                    <div class="footer-bottom">
                        <div class="copyright">
                            <ul>
                                <li>&copy; 2018 </li>
                                <li><a href="#" class="select">WTP</a> Uygulama Sınavı</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Footer-->
        </div>
    </div>
</body>
</html>
